.header {
  z-index: 2;
}

.container {
  padding: 17px 23px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 1px solid #1e2d3d;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding: 0 23px;
}

.cotent {
  display: flex;
  align-items: center;
  padding-right: 0 25px;
}
.name {
  font-weight: 450;
  font-size: 16px;
  line-height: 1.3;
  color: #607b96;
  margin-right: 140px;
}

.list {
  display: flex;
}
.list li {
  padding: 17px 31px;
  border-left: 1px solid #1e2d3d;
}

a {
  font-size: 16px;
  line-height: 1.3;
  color: #607b96;
}

li {
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fea55f;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.link:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

a:hover {
  color: #fff;
  transition: color 0.2s ease-in 0s;
}

/* псевдоэлементы */
.contact::before {
  content: "";
  right: 153px;
  bottom: 0;
  width: 1px;
  height: 100%;
  position: absolute;
  background-color: #1e2d3d;
}

.list li:last-child {
  outline: 1px solid #1e2d3d;
}

/* -------media------ */
@media (max-width: 1023.98px) {
  .name {
    margin-right: 120px;
  }
}

@media (max-width: 1023.98px) {
  .contact::before {
    width: 0px;
    height: 100%;
  }
  .list li {
    padding: 15px 27px;
    border-left: 1px solid #1e2d3d;
  }
  .name {
    margin-right: 90px;
  }
}

@media (max-width: 839.98px) {
  .container {
    padding: 13px 19px 0;
  }
  .wrapper {
    gap: 16px;
    padding: 17px 18px;
  }

  .list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 73px;
    left: 18px;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: none;
    /* ???--------------------- */
  }

  /*.list li {
    border: 1px solid #1e2d3d;
    display: flex;
  }
  .link,
  .contact a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #ffffff;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 228px;
    left: 18px;
    z-index: 10;
    padding: 14px 25px;
    border: 1px solid #1e2d3d;
  }*/
  a {
    /*display: inline;*/
    /*border: 0px;*/
  }
  .contact {
    display: none;
  }

  .list li {
    padding: 14px 25px;
    border-left: 1px solid #1e2d3d;
  }
  a {
    font-size: 14px;
    line-height: 1.2;
    color: #607b96;
  }
}

@media (max-width: 767.98px) {
  .name {
    margin-right: 20px;
  }
}
