.footer {
  align-items: flex-end;
}

.container {
  padding: 17px 23px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  border: 1px solid #1e2d3d;
  border-radius: 5px 5px 0 0;
  position: relative;
  padding: 0 23px;
}

.name {
  font-weight: 450;
  font-size: 16px;
  line-height: 1.3;
  color: #607b96;
}
.items {
  padding: 0 23px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  display: flex;
}
.navigation {
}

.list {
  display: flex;
}

.list li {
  padding: 17px 31px;
  border-left: 1px solid #1e2d3d;
}

a {
  /*font-size: 16px;
  line-height: 1.3;
  color: #607b96;*/
}

li {
  /*position: relative;*/
}

.list li:last-child {
  border-right: 1px solid #1e2d3d;
}

.icon {
  width: 24px;
  height: 24px;
}
.contact {
  display: flex;
  gap: 15px;
  position: relative;
}

.contact:before {
  content: "";
  width: 1px;
  height: 59px;
  background: #1e2d3d;
  position: absolute;
  top: -19px;
  left: -22px;
}

.contact a span {
  vertical-align: sub;
}
.contact a {
  display: flex;
  gap: 10px;
  vertical-align: sub;
}

.contact img {
  display: flex;
  vertical-align: sub;
  margin-top: -3px;
}

.footer img {
  background: transparent;
}
.footer img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in 0s;
}
